@import '../../../../colours.styles.scss';

.main {
	padding: 2rem 2rem 2rem 0;
}
.column.center {
	align-items: center;
}
.main,
.tabs {
	gap: 2rem;
}

.tabs {
	width: 20%;
	max-width: 200px;
}

.content {
	width: -webkit-fill-available;
	align-items: center;
}
.tab-header {
	color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	padding: 1rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.tab-header:hover {
	background-color: rgba($ibe-green-single, 0.1);
}
.selected {
	border-bottom: 1px solid $ibe-green-single;
}

h3.movement {
	margin-block-start: 0;
	margin-block-end: 2rem;
}

.movement {
	mat-form-field {
		width: fit-content;
	}
}
.form {
	align-items: center;
	padding: 2rem;
	gap: 1rem;
}
.button-wrapper {
	align-items: center;
	gap: 2rem;
	justify-content: center;
}
