
.container.column {
	align-items: center;
	justify-content: flex-start;
	gap: 1rem
}
.table-container{
	width: max-content;
	margin: auto;
}
table {
	border-collapse: separate;

}
th,td{
	text-align: center;
	white-space: wrap;
	padding: 0.4rem;

}

td.handset,th.handset {

}