.container.column {
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
}
.table-container {
	width: max-content;
	margin: auto;
}
h1.title {
	text-align: center;
	padding: 1rem;
}
table {
	border-collapse: separate;
}
th {
	text-align: center;
}
td {
	text-align: center;
}

td.pairs {
	text-align: center;
}
th,
td {
	white-space: wrap;
	padding: 0.4rem;
}
td.north,
td.south,
td.east,
td.west {
	text-align: left;
}
.mobile-container {
	padding: 2rem;
}
