<div class="container column center">
	<div class="container row button-wrapper">
		<button
			mat-flat-button
			color="accent"
			(click)="onUploadNew()">
			Upload New
		</button>
		<button
			mat-flat-button
			color="accent"
			(click)="onDownloadCurrent()">
			Download Current
		</button>
	</div>
	<div class="container row button-wrapper">
		<button
			mat-flat-button
			color="accent"
			(click)="onDeletCurrent()">
			Delete Current
		</button>
		<button
			mat-flat-button
			color="accent"
			(click)="onHide()">
			Hide
		</button>
	</div>
</div>
<ng-container *ngIf="currentHandData">
	<app-hand-display [handData]="currentHandData"></app-hand-display>
</ng-container>

<app-hand-pagination></app-hand-pagination>
