<div
	class="container top row center"
	[ngClass]="currentBreakpoint">
	<!-- <div class="container row button-wrapper">
		<button
			mat-flat-button
			color="accent"
			(click)="onUploadNew()">
			Upload New
		</button>
		<button
			mat-flat-button
			color="accent"
			(click)="onDownloadCurrent()">
			Download Current
		</button>
	</div> -->
	<div class="container row button-wrapper">

		<button
			class="show-hide"
			mat-flat-button
			color="warn"
			(click)="onHide()">
			{{ hidden === true ? 'Show' : 'Hide' }}
		</button>
		<button
			mat-flat-button
			color="alert"
			(click)="onDeletCurrent()">
			Delete Current
		</button>
	</div>
</div>
<ng-container *ngIf="currentHandData">
	<app-hand-display
		[hidden]="hidden"
		[handData]="currentHandData"></app-hand-display>
</ng-container>

<app-hand-pagination [totalPages]="totalPages"></app-hand-pagination>
