.pagination {
	justify-content: center;
	align-items: center;
}
button {
	width: 6rem;
}
.display {
	width: 13rem;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
h4 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 4rem;
}
