h2 {
	margin: auto;
	margin-bottom: 1em;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
mat-form-field {
	width: 100%;
}

mat-spinner.login-spinner {
	width: 40px !important;
	height: 40px !important;
}

