:host {
	display: block;
	width: 100%;
	max-width: 1440px;
}
.main {
	width: 100%;
	height: auto;
	margin: 1rem auto;
}
.iframe {
	display: block;
	width: 100%;
	height: 600px;
	iframe {
		height: 500px;
	}
}
