:host {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	max-width: 1440px;
}

.main {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	justify-content: flex-start;
	align-items: center;
}

form.column {
	gap: 2rem;
}

.field-row {
	align-items: flex-end;
	gap: 1rem;
}
.input-control-buttons {
	position: relative;
	gap: 1rem;
	width: 146px;
	height: 36px;
	.add {
		position: absolute;
		right: 0;
	}
}
mat-form-field.lin-text-field {
	width: 400px;
}
:host
	::ng-deep
	mat-form-field.lin-text-field
	.mat-mdc-form-field-subscript-wrapper {
	display: none;
}
.form-container {
	gap: 1rem;
}
