@import '../../../colours.styles.scss';
:host {
	display: block;
	width: fit-content;
	max-width: 80rem;
}

ul {
	padding: 0;
	list-style: none;
	display: flex;
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: space-between;
	gap: 1.2rem;
}

li.nav-link a {
	position: relative;
	color: $ibe-green-single;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 0.4rem;
}

li.nav-link a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 0;
	height: 2px;
	background-color: $ibe-green-single;
	transition: width 0.3s ease;
}

li.nav-link a:hover::after {
	width: 100%;
}
.icon {
	width: 20px;
	height: 20px;
}
