:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding-top: 2rem;
}
.checkbox-row {
	gap: 1rem;
	align-items: center;
}
.button-wrapper {
	gap: 2rem;
	padding: 1rem;
}
