<h2>Add Player</h2>
<mat-form-field [ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }">
	<mat-label [ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
		>Name</mat-label
	>
	<input matInput [(ngModel)]="playerName" />
</mat-form-field>
<mat-form-field [ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }">
	<mat-label>Email</mat-label>
	<input
		matInput
		[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }" />
</mat-form-field>
<mat-form-field [ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }">
	<mat-label [ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
		>Telephone</mat-label
	>
	<input
		[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
		matInput [(ngModel)]="playerTelephone" />
</mat-form-field>
<h4>Player IDs (Check any that apply)</h4>
<div class="container row checkbox-row">
	<mat-checkbox
		[(ngModel)]="ebuChecked"
		[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
		>EBU</mat-checkbox
	>
	<mat-form-field
		*ngIf="ebuChecked"
		[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }">
		<mat-label [ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
			>ID Code</mat-label
		>
		<input
			[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
			matInput [(ngModel)]="ebuId" />
	</mat-form-field>
</div>
<div class="container row checkbox-row">
	<mat-checkbox
		[(ngModel)]="bboChecked"
		[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
		>BBO</mat-checkbox
	>
	<mat-form-field
		*ngIf="bboChecked"
		[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }">
		<mat-label [ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
			>ID Code</mat-label
		>
		<input
			matInput
			[(ngModel)]="bboId"
			[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }" />
	</mat-form-field>
</div>
<div class="container row button-wrapper">
	<button
		(click)="onSave()"
		mat-flat-button
		color="primary"
		class="save">
		Save
	</button>
	<button
		(click)="onCancel()"
		mat-flat-button
		color="alert"
		class="cancel">
		Cancel
	</button>
</div>
