:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	height: auto !important;
	// padding-top: 2rem;
	overflow-y: visible !important;
}
h2 {
	margin-block-end: 0;
}
h4 {
	margin-block-start: 0.5rem;
	margin-block-end: 0.5rem;
}
.checkbox-row {
	gap: 1rem;
	align-items: center;
}
.mat-mdc-dialog-actions {
	padding: 0 !important;
}
.button-wrapper {
	gap: 2rem;
	margin-bottom: 1rem;
}
