:host {
	display: block;
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
}
h2,
h4 {
	text-align: center;
}

.main {
	justify-content: center;
	gap: 2rem;
}

.handset.main,
.tablet.main {
	flex-direction: column;
}

.left,
.middle,
.right {
	width: 300px;
}

.container.upload,
.container.delete {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}

.container.download {
	align-items: center;
}

.upload.download {
	gap: 2rem;
}

button.download {
	max-width: 200px;
}
.main {
	justify-content: center;
}
