@import '../../../../colours.styles.scss';
:host {
	display: block;
	width: fit-content;
	max-width: 80rem;
	padding: 0 1rem;
}

.container.tab-headers {
	display: block;
	width: 100%;
}

ul.tab-headers {
	display: flex;
	padding: 0;
	flex-direction: row;
	gap: 1rem;
	align-items: baseline;
	height: 2rem;
}

ul {
	list-style: none;
}

ul li:hover {
	cursor: pointer;
}

ul li.tab-header {
	position: relative;
}
ul li.tab-header span::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 0;
	height: 2px;
	transition: width 0.3s ease;
}

ul li.tab-header span:hover::after {
	width: 100%;
}

ul li.current-deal span::after {
	background-color: $app-interface;
}
ul li.hand-records span::after {
	background-color: $ibe-green-single;
}
ul li.bridge-webs span::after {
	background-color: $ibe-magenta-single;
}

li.tab-header.active span::after {
	width: 100%;
}

// BridgeWebs tab

.bw-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}
