form.container {
	width: fit-content;
	gap: 2rem;
}

.grid-row,
.addiional-choices {
	width: 100%;
}
.static-row {
	height: 2rem;
	align-items: center;
}
.grid-row {
	position: relative;
	display: grid;
	vertical-align: middle;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
}

.grid-item.right {
	position: absolute;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	justify-content: space-between;
	right: 0;
	// width: 3rem;
}

.delete-wrapper {
	display: grid;
	place-items: center;
	width: 4rem;
}

.add {
	width: 3rem;
}
mat-icon {
	margin: 0 !important;
}
