@import '../../../colours.styles.scss';

:host {
	width: 100%;
	max-width: 80rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	overflow-y: auto;
}
.view {
	width: 100%;
	max-width: 80rem;
}
.main {
	padding: 0;
	align-items: stretch;
	width: 100%;
}

.pin-column {
	width: max-content;
	gap: 0.4rem;
}

.gap-1 {
	justify-content: center;
	gap: 2rem;
}
.bottom-row {
	margin-top: 2rem;
}
.on-lock {
	width: fit-content;
}

.sign-in {
	justify-content: center;
	// gap: 1rem;
	width: 100%;
}

.row.content {
	gap: 2rem;
	justify-content: space-around;
}

::ng-deep .mat-mdc-tab-header {
	margin-bottom: 1.4rem !important;
}

// Individual tabs styling

// Movement
:host ::ng-deep .these-settings-label {
	> .mdc-tab-indicator {
		> .mdc-tab-indicator__content--underline {
			border-color: #333 !important;
		}
	}
	> .mdc-tab__content {
		.mdc-tab__text-label {
			color: #333 !important;
		}
	}
	> .mdc-tab__ripple::before {
		background-color: #333 !important;
	}
	> .mat-ripple > * {
		background-color: #333 !important;
	}
}

// Player Sign-In
:host ::ng-deep .sign-in-label {
	> .mdc-tab-indicator {
		> .mdc-tab-indicator__content--underline {
			border-color: $player-sign-in !important;
		}
	}
	> .mdc-tab__content {
		.mdc-tab__text-label {
			color: $player-sign-in !important;
		}
	}
	> .mdc-tab__ripple::before {
		background-color: $player-sign-in !important;
	}
	> .mat-ripple > * {
		background-color: $player-sign-in !important;
	}
	+ .mat-mdc-tab-body {
		background-color: rgba($player-sign-in, 0.2) !important;
	}
}

// Security
:host ::ng-deep .security-label {
	> .mdc-tab-indicator {
		> .mdc-tab-indicator__content--underline {
			border-color: $security !important;
		}
	}
	> .mdc-tab__content {
		.mdc-tab__text-label {
			color: $security !important;
		}
	}
	> .mdc-tab__ripple::before {
		background-color: $security !important;
	}
	> .mat-ripple > * {
		background-color: $security !important;
	}
}

// Movement
:host ::ng-deep .movement-label {
	> .mdc-tab-indicator {
		> .mdc-tab-indicator__content--underline {
			border-color: $movement-scoring !important;
		}
	}
	> .mdc-tab__content {
		.mdc-tab__text-label {
			color: $movement-scoring !important;
		}
	}
	> .mdc-tab__ripple::before {
		background-color: $movement-scoring !important;
	}
	> .mat-ripple > * {
		background-color: $movement-scoring !important;
	}
}

// App-Interface
:host ::ng-deep .interface-label {
	> .mdc-tab-indicator {
		> .mdc-tab-indicator__content--underline {
			border-color: $app-interface !important;
		}
	}
	> .mdc-tab__content {
		.mdc-tab__text-label {
			color: $app-interface !important;
		}
	}
	> .mdc-tab__ripple::before {
		background-color: $app-interface !important;
	}
	> .mat-ripple > * {
		background-color: $app-interface !important;
	}
}

// Naming & Numbering
:host ::ng-deep .naming-label {
	> .mdc-tab-indicator {
		> .mdc-tab-indicator__content--underline {
			border-color: $naming-numbering !important;
		}
	}
	> .mdc-tab__content {
		.mdc-tab__text-label {
			color: $naming-numbering !important;
		}
	}
	> .mdc-tab__ripple::before {
		background-color: $naming-numbering !important;
	}
	> .mat-ripple > * {
		background-color: $naming-numbering !important;
	}
}

.sign-in,
.security {
	padding: 1rem;
}

.row.security {
	justify-content: center;
	gap: 2rem;
}

.sign-in {
	background-color: rgba($player-sign-in, 0.08) !important;
}
.security {
	background-color: rgba($security, 0.22) !important;
}
.movement,
app-boards-scoring {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba($movement-scoring, 0.18) !important;
}
.interface,
app-app-interface {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba($app-interface, 0.18) !important;
}
.naming,
app-naming-numbering {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba($naming-numbering, 0.28) !important;
}

.container.row.handset {
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
