<ng-container *ngIf="dbProgress !== 100 && !initialSettingsData">
	<div class="loading">
		<h2>Loading Settings...</h2>
		<mat-progress-bar
			mode="determinate"
			[value]="dbProgress"></mat-progress-bar>
	</div>
</ng-container>
<ng-container *ngIf="dbProgress === 100">
	<div class="container column main">
		<ng-container *ngIf="initialSettingsData">
			<form [formGroup]="setupForm">
				<div class="container row gap-1">
					<h3>Settings for new events:</h3>
					<mat-form-field>
						<mat-label>New event uses:</mat-label>
						<mat-select formControlName="newEventUses">
							<mat-option value="previous">Settings from previous event</mat-option>
							<mat-option value="current">These base settings</mat-option>
						</mat-select>
					</mat-form-field>
					<button
						mat-flat-button
						(click)="save()"
						color="primary">
						Save
					</button>
				</div>
				<div class="container row bottom-row"></div>
				<mat-tab-group animationDuration="0s">
					<!--  -->
					<!-- How To Use Tab -->
					<!--  -->
					<!-- Player Sign In Tab -->
					<mat-tab label="Player Sign-In">
						<div class="container column">
							<h3>Startup Interface</h3>
							<mat-checkbox formControlName="twoPageStartup"
								>Two-Page startup</mat-checkbox
							>
							<mat-checkbox
								*ngIf="twoPageStartup"
								formControlName="tdEntersNames"
								>TD enters names</mat-checkbox
							>
							<mat-checkbox
								*ngIf="twoPageStartup && !setupForm.get('tdEntersNames').value"
								formControlName="requireAllNames"
								>Require all names</mat-checkbox
							>
							<mat-checkbox
								*ngIf="twoPageStartup && !setupForm.get('tdEntersNames').value"
								formControlName="teamSignIn"
								>Team sign-in</mat-checkbox
							>
							<!-- To Be Re Added Once the player ID has been reworked server side -->
							<!-- <app-player-identification
						[hidden]="!twoPageStartup"
						(idFormEmitter)="onPlayerIdForm($event)"
						(idFormEmitter)="onChildForm($event)">
					</app-player-identification> -->
							<div class="container row bottom-row">
								<button
									(click)="save()"
									mat-flat-button
									color="primary">
									Save
								</button>
							</div>
						</div>
					</mat-tab>
					<!--  -->
					<!-- Security Tab -->

					<mat-tab label="Security">
						<div class="container column">
							<h3>Security</h3>
							<mat-form-field>
								<mat-label>On Game Creation</mat-label>
								<mat-select formControlName="onGameCreation">
									<mat-option value="lock-event">Lock Event</mat-option>
									<mat-option value="release-lock">Release Lock</mat-option>
									<mat-option value="no-lock-change">No Lock Change</mat-option>
								</mat-select>
							</mat-form-field>
							<h3>PIN Code</h3>
							<mat-checkbox formControlName="usePin">Use Pin</mat-checkbox>
							<div
								class="container column pin-column"
								*ngIf="setupForm.get('usePin').value === true">
								<mat-form-field>
									<mat-label>Pin Length</mat-label>
									<input
										matInput
										formControlName="pinLength"
										min="1"
										max="10"
										type="number" />
								</mat-form-field>

								<mat-form-field>
									<mat-label>Type</mat-label>
									<mat-select formControlName="pinType">
										<mat-option value="numeric">Numeric</mat-option>
										<mat-option value="alphabetic">Alphabetic</mat-option>
										<mat-option value="alphanumeric">Alphanumeric</mat-option>
									</mat-select>
								</mat-form-field>
								<div *ngIf="setupForm.get('pinType').value !== 'numeric'">
									<mat-form-field>
										<mat-label>Case</mat-label>
										<mat-select formControlName="pinCase">
											<mat-option value="s">Lowercase only</mat-option>
											<mat-option value="c">Uppercase only</mat-option>
											<mat-option value="m"
												>Both uppercase and lowercase</mat-option
											>
										</mat-select>
									</mat-form-field>
								</div>
							</div>
							<h3>Spectating</h3>
							<mat-checkbox formControlName="spectateApp">App</mat-checkbox>
							<mat-checkbox formControlName="spectateWebsite">Website</mat-checkbox>
							<div class="container row bottom-row">
								<button
									mat-flat-button
									(click)="save()"
									color="primary">
									Save
								</button>
							</div>
						</div>
					</mat-tab>

					<!--  -->
					<!-- Movement/ Scoring Tab In Tab -->

					<mat-tab label="Movement/ Scoring">
						<ng-container *ngIf="scoringSettings">
							<app-boards-scoring
								*ngIf="scoringSettings"
								[scoringSettings]="scoringSettings"
								(boardScoringEmitter)="onScoringForm($event)"
								(boardScoringEmitter)="onChildForm($event)"></app-boards-scoring>
						</ng-container>
					</mat-tab>

					<!--  -->
					<!-- App Interface Tab -->

					<mat-tab label="App Interface">
						<ng-container *ngIf="appInterfaceSettings">
							<app-app-interface
								*ngIf="appInterfaceSettings"
								[appInterfaceSettings]="appInterfaceSettings"
								(appInterfaceEmitter)="onAppInterfaceForm($event)"
								(appInterfaceEmitter)="onChildForm($event)"></app-app-interface>
						</ng-container>
					</mat-tab>

					<!--  -->
					<!-- Naming Numbering Tab -->

					<mat-tab label="Naming Numbering">
						<ng-container *ngIf="namingNumberingSettings">
							<app-naming-numbering
								*ngIf="namingNumberingSettings"
								[namingNumberingSettings]="namingNumberingSettings"
								(namingNumberingEmitter)="onAppInterfaceForm($event)"
								(namingNumberingEmitter)="
									onChildForm($event)
								"></app-naming-numbering>
							<div class="container column"></div>
						</ng-container>
					</mat-tab>
				</mat-tab-group>
			</form>
		</ng-container>
	</div>
</ng-container>
