<div class="container column main">
	<form [formGroup]="setupForm">
		<div class="container row gap-1">
			<h3>Settings for new events:</h3>
			<mat-form-field>
				<mat-label>New event uses:</mat-label>
				<mat-select formControlName="newEventUses">
					<mat-option value="previous">Settings from previous event</mat-option>
					<mat-option value="current">These base settings</mat-option>
				</mat-select>
			</mat-form-field>
			<button mat-flat-button (click)="save()" color="primary">Save</button>
		</div>
		<div class="container row bottom-row">
		</div>
		<mat-tab-group animationDuration="0s">
			<!--  -->
			<!-- How To Use Tab -->
			<!--  -->
			<!-- Player Sign In Tab -->
			<mat-tab label="Player Sign-In">
				<div class="container column">
					<h3>Startup Interface</h3>
					<mat-checkbox formControlName="twoPageStartup"
						>Two-Page startup</mat-checkbox
					>
					<mat-checkbox formControlName="tdEntersNames"
						>TD enters names</mat-checkbox
					>
					<mat-checkbox formControlName="requireAllNames"
						>Require all names</mat-checkbox
					>
					<mat-checkbox formControlName="teamSignIn">Team sign-in</mat-checkbox>
					<h3>Player Identification</h3>
					<app-player-identification
						(idFormEmitter)="onPlayerIdForm($event)" (idFormEmitter)="onChildForm($event)"></app-player-identification>
					<div class="container row bottom-row"><button mat-flat-button color="primary">Save</button></div>
				</div>
			</mat-tab>
			<!--  -->

			<!-- Security Tab -->
			<mat-tab label="Security">
				<div class="container column">
					<h3>Security</h3>
					<mat-form-field>
						<mat-label>On Game Creation</mat-label>
						<mat-select formControlName="onGameCreation">
							<mat-option value="lock-event">Lock Event</mat-option>
							<mat-option value="release-lock">Release Lock</mat-option>
							<mat-option value="no-lock-change">No Lock Change</mat-option>
						</mat-select>
					</mat-form-field>
					<h3>PIN Code</h3>
					<mat-checkbox formControlName="usePin">Use Pin</mat-checkbox>
					<h3>Spectating</h3>
					<mat-checkbox formControlName="spectateApp">App</mat-checkbox>
					<mat-checkbox formControlName="spectateWebsite">Website</mat-checkbox>
					<div class="container row bottom-row">
						<button mat-flat-button (click)="save()" color="primary">Save</button>
					</div>
				</div>
			</mat-tab>
			<!--  -->
			<!-- Movement/ Scoring Tab In Tab -->
			<mat-tab label="Movement/ Scoring">
				<app-boards-scoring (boardScoringEmitter)="onScoringForm($event)" (boardScoringEmitter)="onChildForm($event)" ></app-boards-scoring>
			</mat-tab>
			<!--  -->
			<!-- Player Sign In Tab -->
			<mat-tab label="App Interface">
				<app-app-interface (appInterfaceEmitter)="onAppInterfaceForm($event)" (appInterfaceEmitter)="onChildForm($event)"></app-app-interface>
			</mat-tab>
			<!--  -->
			<!-- Player Sign In Tab -->
			<mat-tab label="Naming Numbering">
				<app-naming-numbering (namingNumberingEmitter)="onAppInterfaceForm" (namingNumberingEmitter)="onChildForm"></app-naming-numbering>
				<div class="container column"></div>
			</mat-tab>
		</mat-tab-group>
	</form>
</div>
