<mat-toolbar
	color="accent"
	class="toolbar">
	<ng-container *ngIf="authService.isAuthedSubject$ | async">
		<button
			mat-mini-fab
			(click)="toggleSidenav()">
			<mat-icon>menu</mat-icon>
		</button>
	</ng-container>

	<span>IBEScore Companion</span>
	<span class="spacer"></span>
	
	<div class="header-right container">
		<button
			mat-flat-button
			color="warn"
			routerLink="/forgot-password"
			*ngIf="!(authService.isAuthedSubject$ | async)"
			(click)="forgotPassword()">
			Forgot Password
		</button>
		<ng-container *ngIf="authService.isAuthedSubject$ | async">
			<app-user-details></app-user-details>
		</ng-container>

		<button
			mat-flat-button
			color="warn"
			routerLink="/auth/logout"
			*ngIf="authService.isAuthedSubject$ | async"
			(click)="logout()">
			logout
		</button>
	</div>
</mat-toolbar>
