@import '../../../colours.styles.scss';

.toolbar {
	width: 100%;
	// height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
}
.view {
	position: relative;
	width: 100%;
	max-width: 80rem;
	margin: auto;
	justify-content: center;
	align-items: center;
}
.view.handset {
	justify-content: flex-start;
}

.view.handset.authed {
	justify-content: center;
}
button.menu {
	position: absolute;
	left: 0;
	// top: 0;
	color: $app-interface;
}
.header-text {
	white-space: pre;
	text-wrap: wrap;
	padding: 0 1rem;
}
.header-right {
	position: absolute;
	right: 0;
	display: flex;
	gap: 2em;
	align-items: center;
	button {
		text-wrap: balance;
		width: min-content;
	}
}

.user-data {
	gap: 1em;
}
.public-view {
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.logo-container {
	width: auto;
	height: auto;
	display: grid;
	place-items: center;
}

img.logo {
	display: block;
	height: 40px;
	width: 40px;
}

// Testing drawer

.drawer-container {
	display: block;
	height: 100%;
	// border: 1px solid red;
	p {
		margin-block-start: 0;
		margin-block-end: 0;
	}
}

.drawer {
	// max-width: 80rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0;
	overflow: hidden;
	transition: height 0.3s ease;
	border-bottom: 2px solid $app-interface;
}

.main-content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 1rem;
	flex: 1;
	// border: 1px solid blue;
}

.drawer.opened {
	height: 64px; /* Adjust height as needed */
	// border: 1px solid yellow;
}

.test {
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
mat-icon {
	margin: 0;
}

.hamburger {
	width: 40px;
	min-width: 40px;
	padding: 0.2rem;
}
:host ::ng-deep .mat-mdc-unelevated-button > .mat-icon {
	margin: 0;
}
