<div
	class="container row top"
	[ngClass]="currentBreakpoint">
	<div
		class="container column top"
		[ngClass]="currentBreakpoint">
		<mat-form-field [ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }">
			<mat-label [ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
				>Show Details</mat-label
			>
			<mat-select
				[(ngModel)]="tableOption"
				[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
				name="detail"
				(valueChange)="onOptionSelected($event)">
				<mat-option
					value="none"
					[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
					>None</mat-option
				>
				<mat-option
					[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
					*ngFor="let detail of eventDetails"
					[value]="detail.value"
					>{{ detail.option }}</mat-option
				>
			</mat-select>
		</mat-form-field>
	</div>
</div>
<div class="container row table">
	<app-pairs-table
		*ngIf="initialTableData"
		[initialTableData]="initialTableData"></app-pairs-table>
	<!-- <app-match-tables [initialTableData]="initialTableData"
		(formValuesChanged)="(onTeamTableValueChanged)"></app-match-tables> -->
</div>
<div class="container row download">
	<button
		id="start_pdf"
		mat-flat-button
		color="accent">
		Get Start Positions PDF
	</button>

	<mat-form-field
		class="date-picker"
		[ngClass]="{ ' grey-magenta-theme': applyMagentaGreyTheme }">
		<mat-label>Forward-Date (Optional) </mat-label>
		<input
			[ngClass]="{ 'grey-magenta-theme:': applyMagentaGreyTheme }"
			type="text"
			matInput
			[matDatepicker]="date" />
		<mat-datepicker-toggle
			[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
			matIconSuffix
			[for]="date"></mat-datepicker-toggle>
		<mat-datepicker
			#date
			[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"></mat-datepicker>
	</mat-form-field>
	<button
		class="main-save"
		mat-flat-button
		color="primary">
		SAVE
	</button>
</div>
