<div
	class="container row top"
	[ngClass]="currentBreakpoint">
	<div
		class="container row top"
		[ngClass]="currentBreakpoint">
		{{ eventName }}
		<mat-form-field [ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }">
			<mat-label [ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
				>Show Details</mat-label
			>
			<mat-select
				[(ngModel)]="tableOption"
				[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
				name="detail"
				(valueChange)="onOptionSelected($event)">
				<mat-option
					value="none"
					[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
					>None</mat-option
				>
				<mat-option
					[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
					*ngFor="let detail of eventDetails"
					[value]="detail.value"
					>{{ detail.option }}</mat-option
				>
			</mat-select>
		</mat-form-field>
		<button
			mat-flat-button
			color="primary"
			(click)="refresh()">
			Refresh
		</button>
	</div>
</div>
<div class="container row table">
	<ng-container *ngIf="initialTableData">
	<div
		class="spinner"
		*ngIf="isLoading">
		<mat-spinner></mat-spinner>
	</div>
	<ng-container *ngIf="!isLoading && initialTableData && matchType === 'pairs'">
		<app-pairs-table
			*ngIf="initialTableData"
			[initialTableData]="initialTableData"
			[loadingStatus]="isLoading"></app-pairs-table>
	</ng-container>
	<ng-container *ngIf="!isLoading && initialTableData && matchType === 'teams'">
		<app-teams-table
			[initialTableData]="initialTableData"
			[loadingStatus]="isLoading"></app-teams-table>
	</ng-container>
	<!-- <app-match-tables [initialTableData]="initialTableData"
		(formValuesChanged)="(onTeamTableValueChanged)"></app-match-tables> -->
</div>
<div class="container row download">
	<button
		id="start_pdf"
		mat-flat-button
		color="accent">
		Get Start Positions PDF
	</button>

	<mat-form-field
		class="date-picker"
		[ngClass]="{ ' grey-magenta-theme': applyMagentaGreyTheme }">
		<mat-label>Forward-Date (Optional) </mat-label>
		<input
			[ngClass]="{ 'grey-magenta-theme:': applyMagentaGreyTheme }"
			type="text"
			[(ngModel)]="forwardDate"
			matInput
			[matDatepicker]="date" />
		<mat-datepicker-toggle
			[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"
			matIconSuffix
			[for]="date"></mat-datepicker-toggle>
		<mat-datepicker
			#date
			[ngClass]="{ 'grey-magenta-theme': applyMagentaGreyTheme }"></mat-datepicker>
	</mat-form-field>
	<button
		class="main-save"
		mat-flat-button
		color="primary"
		(click)="captureFormData()">
		SAVE
	</button>
</div>
