@import '../../../../../colours.styles.scss';
:host {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.row.top {
	width: 100%;
	padding: 1em 0 0 0;
	gap: 2rem;
	// margin-bottom: 2rem;
}

.details.row {
	width: 100%;
	justify-content: space-between;
	flex: 1;
	.event-name-field {
		margin-right: auto;
		height: 70px !important;
	}
}

button.main-save {
	margin-left: auto;
	justify-self: flex-end;
	padding: 0 2rem;
}

.table {
	display: block;
	width: 100%;
	background-color: whitesmoke;
	border: none;
	// padding: 0 2rem 0 2rem;
	// overflow-y: scroll;
}

.actions-row {
	width: 100%;
	justify-content: flex-start;
	align-items: flex-end;
}
.download.row {
	display: flex;
	margin-top: 1rem;
	width: 100%;
	gap: 2rem;
	flex: 1;
	justify-content: space-between;
	// align-items: center;
	flex-wrap: wrap;

	.date-picker {
		margin-right: auto;
		height: 70px;
	}
}

.event-name-row {
	gap: 1rem;
}

mat-spinner {
	margin: auto;
}

.public-link {
	gap: 1rem;
	align-items: center;
	// cursor: pointer;
}

.public-link-text,
a.public-link-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 310px;
	color: #3c3c3c;
}

.public-link-text:hover,
a.public-link-text:hover {
	white-space: unset;
	overflow: visible;
	color: $ibe-green-single;
	cursor: pointer;
}
.date-wrapper,
.link-wrapper {
	flex-wrap: wrap;
	gap: 1rem;
	// align-items: flex-end;
}

.copy {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	cursor: pointer;
}
.two-save {
	gap: 2rem;
}
.main-save-container {
	align-items: center;
	justify-content: flex-end;
	margin-top: 1rem;
	gap: 1rem;
	button {
		height: 50px;
		margin: 0;
	}
}
.link-text-wrapper:hover {
	cursor: pointer;
}
button.event-name {
	height: 50px !important;
}
