@import '../../../../styles.scss';
@import url('../../../../table-styles.scss');
:host {
	margin: auto;
	padding-bottom: 2rem;
}

.delete mat-icon {
	transition: opactiy 200ms ease-out;

	&:hover {
	}
}
