@import '../../../../styles.scss';
@import url('../../../../table-styles.scss');
@import '../../../../colours.styles.scss';

:host {
	display: block;
	width: 100%;
	max-width: $visible-window;
	margin: auto;
	padding-bottom: 2rem;
}

.delete mat-icon {
	transition: color 200ms ease-out;
}
.delete:hover mat-icon.active {
	color: $ibe-alert-single;
}
