<div class="container column main">
	<mat-tab-group>
		<!--  -->
		<!-- How To Use tab -->
		<mat-tab label="Player Sign-In">
			<div class="container column">
				<h3>Startup Interface</h3>
				<mat-checkbox formControlName="two-page-startup"
					>Two-Page startup</mat-checkbox
				>
				<mat-checkbox formControlName="td-enters-names"
					>TD enters names</mat-checkbox
				>
				<mat-checkbox formControlName="require-all-names"
					>require all names</mat-checkbox
				>
				<mat-checkbox formControlName="team-sign-in">Team sign-in</mat-checkbox>
				<h3>Player Identification</h3>
				<div class="container row"></div>
				<div class="container row"></div>
			</div>
		</mat-tab>
		<!--  -->

		<!-- Security Tab -->
		<mat-tab label="Security">
			<div class="container column">
				<h3>Security</h3>
				<mat-form-field>
					<mat-label>On Game Creation</mat-label>
					<mat-select>
						<mat-option value="lock-event">Lock Event</mat-option>
						<mat-option value="release-lock">Release Lock</mat-option>
						<mat-option value="no-lock-change">No Lock Change</mat-option>
					</mat-select>
				</mat-form-field>
				<h3>PIN Code</h3>
				<mat-checkbox formControlName="use-pin">Use Pin</mat-checkbox>
				<h3>Spectating</h3>
				<mat-checkbox formControlName="spectate-app">App</mat-checkbox>
				<mat-checkbox formControlName="spectate-website">Website</mat-checkbox>
			</div>
		</mat-tab>
		<!--  -->
		<!-- Movement/ Scoring Tab In Tab -->
		<mat-tab label="Movement/ Scoring">
			<div class="container column"></div>
		</mat-tab>
		<!--  -->
		<!-- Player Sign In Tab -->
		<mat-tab label="App Interface">
			<div class="container column"></div>
		</mat-tab>
		<!--  -->
		<!-- Player Sign In Tab -->
		<mat-tab label="Naming Numbering">
			<div class="container column"></div>
		</mat-tab>
	</mat-tab-group>
</div>
