:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding-top: 2rem;
	overflow-y: auto;
}

.button-wrapper {
	gap: 2rem;
	padding: 1rem;
}

.last-play {
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}
.button-wrapper.add-remove {
	gap: 1rem;
	padding: 0;
	justify-content: flex-end;
	margin-top: -1rem;
}
#lastplay_remove.mdc-button.remove,
#lastplay_add.mdc-button.add {
	font-size: 1rem;
	width: 2rem;
	min-width: 1rem;
	margin-bottom: 0;
	display: grid;
	place-content: center;
	height: 2rem;
}
