@import '../../../colours.styles.scss';
:host {
	display: block;
	width: fit-content;
	max-width: 80rem;
}
.drawer-content {
	position: relative;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
	padding: 0;

	width: max-content;
	width: -webkit-fill-available;
}
ul {
	padding: 0;
	list-style: none;
	display: flex;
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: center;
	align-items: center;
	gap: 1.2rem;
	flex-wrap: wrap;
	padding: 0 1rem;
}

li.nav-link a {
	position: relative;
	color: $ibe-magenta-single;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 0.4rem;
}

li.nav-link.green a {
	color: $ibe-green-single;
}

li.nav-link a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 0;
	height: 2px;
	background-color: $ibe-magenta-single;
	transition: width 0.3s ease;
}

li.nav-link.green a::after {
	background-color: $ibe-green-single;
}

li.nav-link a:hover::after {
	width: 100%;
}

.close-container {
	justify-content: flex-end;
	width: 100%;
}

.drawer-bottom {
	gap: 1rem;
	padding: 1rem;
	color: $app-interface;
}
.icon {
	width: 20px;
	height: 20px;
}
button.logout {
	color: white;
	font-size: 1rem;
}
