@import '../../../colours.styles.scss';
:host {
	display: block;
	width: fit-content;
	max-width: 80rem;
}
.drawer-content {
	position: relative;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;

	width: max-content;
	width: -webkit-fill-available;
}
ul {
	padding: 0;
	list-style: none;
	display: flex;
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: space-between;
	gap: 1rem;
}

li.nav-link a {
	position: relative;
	color: $ibe-magenta-single;
	text-decoration: none;
}

li.nav-link a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0;
	height: 2px;
	background-color: $ibe-magenta-single;
	transition: width 0.3s ease;
}

li.nav-link a:hover::after {
	width: 100%;
}
span.close:hover {
	cursor: pointer;
}
