<div class="tab container column">
	<div class="tab container row">
		<div class="container row input-row">
			<mat-form-field>
				<mat-label>Event Name</mat-label>
				<input
					type="text"
					[(ngModel)]="eventName"
					matInput />
			</mat-form-field>
			<!-- <button
				class="save"
				mat-flat-button
				matSuffix
				color="primary">
				SAVE
			</button> -->
		</div>
	</div>
	<div class="container column actions-row">
		<mat-tab-group
			animationDuration="200ms"
			mat-stretch-tabs="false"
			[attr.mat-align-tabs]="shouldAlignTabsToStart() ? 'start' : 'center'"
			mat-align-tabs="start">
			<mat-tab label="Names">
				<ng-container *ngIf="initialTableData">
					<app-game-players
						*ngIf="initialTableData"
						[eventName]="eventName"
						[isLoading]="isLoading"></app-game-players>
				</ng-container>
			</mat-tab>
			<mat-tab label="Game Actions">
				<app-game-actions></app-game-actions>
			</mat-tab>
			<mat-tab label="Game Settings">
				<app-game-settings></app-game-settings>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>
