:host {
	margin: 0 auto;
}

.tab.container.column {
	padding: 1rem;
	flex-direction: column;
	height: 100%;
}

.tab.container.row {
	// height: 2em;
	height: 100%;
	width: 100%;
	position: relative;
	padding: 1rem 1rem 0 1rem;
	align-items: baseline;
	justify-content: space-between;
	gap: 1rem;
	flex: 1;
}

.input-row {
	gap: 2em;
	width: 50%;
	margin: auto;
}

.container.save.row {
	flex-grow: 1;
	width: 100%;
	justify-content: space-between;
	padding-bottom: 1rem;
	border: 1px solid blue;
}
// button.main-save {
// 	position: absolute;
// 	bottom: 0;
// 	right: 0;
// }

mat-form-field {
	width: 100%;
}

button.save {
	padding: 0.2rem;
}

button.save,
button.names,
button.actions {
	height: 50px;
}

.actions {
	width: 100%;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
}
.download.row {
	width: 50%;
	gap: 2rem;

	button#start_pdf {
		height: 56px !important;
	}
}
