<div class="dialog-container">
	<a href="https://ibescore.com">
		<img
			src="assets/images/ibescore.jpeg"
			alt="IBEScore Logo"
			srcset="" />
	</a>
	<h2>{{ data.title ? data.title : '' }}</h2>
	<mat-dialog-content>
		<div
			*ngIf="data.gameCode && data.gameCode.length > 1"
			class="game-code">
			<p class="message">Your chosen GAME CODE</p>
			<h3>{{ data.gameCode }}</h3>
		</div>
		<div
			[innerHTML]="data.message"
			class="message-container"></div>
		<!-- EMAIL -->
		<ng-container *ngIf="data.email">
			<h3>{{ data.email }}</h3>
		</ng-container>
		<!-- DIRECTOR KEY -->
		<ng-container *ngIf="data.dirKey">
			<h3>{{ data.dirKey }}</h3>
		</ng-container>
		<!-- LOGIN FORM -->
		<ng-container *ngIf="data.loginForm">
			<ng-container *ngComponentOutlet="data.loginForm"></ng-container>
		</ng-container>
		<!-- ERROR -->
		<ng-container *ngIf="data.error"
			><div class="error">
				{{ data.error.message | json }}
			</div></ng-container
		>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button
			*ngIf="data.code === 'updateSUCCESS'"
			mat-flat-button
			color="primary"
			(click)="emitSuccess()">
			Close
		</button>
		<button
			*ngIf="data.title !== 'SUCCESS'"
			mat-flat-button
			color="accent"
			(click)="emitSuccess()">
			Close
		</button>
		<a
			href="https://ibescore.com"
			class="ok"
			mat-flat-button
			color="accent"
			*ngIf="data.code === 'updateSUCCESS' || data.code === 'regSUCCESS'">
			IBEScore
		</a>
	</mat-dialog-actions>
</div>
