:host {
	display: block;
	min-height: calc((100% - 4rem));
	overflow: scroll;
}

:host::-webkit-scrollbar {
	display: none;
}

.content-container {
	display: block;
	height: 100%;
	min-height: calc((100% - 8rem));
}

app-home {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	order: 0;
	// overflow: hidden;
}

router-outlet {
	order: 1;
}

app-footer {
	order: 3;
}

// .app-container {
// 	display: flex;
// 	flex-direction: column;
// 	// height: 100vh; /* Ensure app container takes up full viewport height */
// 	height: 100%;
// }

.app-container::-webkit-scrollbar {
	display: none;
}

.app-container {
	display: block;
	// height: calc ((100% - 4rem));
	height: 100%;
	width: 100%;
	overflow: scroll;
}

.content-container {
	flex-grow: 1; /* Content container grows to take remaining space */
	transition: margin-top 0.3s ease; /* Add transition for smooth animation */
}

.drawer.opened + .content-container {
	margin-top: 64px; /* Adjust the margin to match the width of the drawer */
}
