:host {
	min-height: 100vh;
	width: 100vw;

	display: block;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: scroll;
}
.host::-webkit-scrollbar {
	display: none;
}
app-home {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	order: 0;
	// overflow: hidden;
}

router-outlet {
	order: 1;
}

app-footer {
	order: 3;
}

.app-container {
	display: flex;
	flex-direction: column;
	height: 100vh; /* Ensure app container takes up full viewport height */
}

.content-container {
	flex-grow: 1; /* Content container grows to take remaining space */
	transition: margin-left 0.3s ease; /* Add transition for smooth animation */
}

.drawer.opened + .content-container {
	margin-left: 250px; /* Adjust the margin to match the width of the drawer */
}
