:host {
	display: block;
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
	padding: 0 1rem;
}
.main {
	justify-content: flex-start;
}
.main.handset,
.main.medium {
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
h3 {
	text-align: center;
}
app-lin-extraction {
}
