@import '../../../../colours.styles.scss';

:host {
	padding: 2rem;
}
form {
	// padding: 2rem 4rem;
	width: max-content;
}

.grid-container {
	// overflow-y: hidden;
}
.header-row {
	margin-bottom: 1rem;
}

.grid-item.header {
	font-weight: bold;
	text-align: center;
}

.grid-row {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 2fr;
	align-items: center;
	grid-gap: 1rem;
}
.grid-item.label {
	display: flex;

	justify-items: center;
	justify-content: center;
}

.grid-item.checkbox {
	display: flex;
	justify-items: center;
	justify-content: center;
}

.grid-item.dropdown {
	display: flex;
	justify-items: center;
}

.scoring {
	width: max-content;
	gap: 0.4 rem;
}
