:host {
	width: 100%;
	max-width: 80rem;
	padding: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.main {
	width: 100%;
}
.head,
.search {
	gap: 2rem;
}
.container.row.options {
	padding-left: 2rem;
}

@media only screen and (max-width: 500px) {
	.container.row.search {
		justify-content: space-between;
	}

	button.add-row {
		height: 46px !important;
	}
}
