:host {
	height: 100%;
}

.container {
	height: 100%;
}

.sidenav {
	display: block;
	width: 100%;
	// height:
	overflow-x: hidden;
}

.drawer {
	display: block;
	width: 220px;
	height: 100%;
	padding-left: 2em;
	padding-top: 2em;
	// position: fixed
}

.drawer .mat-drawer-inner-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 2em;
}

.button-wrapper.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	padding-top: 2em;
	padding-right: 2em;
}

.button-wrapper h4 {
	margin-block-start: 0;
	margin-block-end: 0;
}

.button-wrapper button {
	width: 90%;
}

.mat-drawer-container.mat-drawer-opened .content {
	margin-left: 220px;
	// width: calc(100% - 220px) !important;
	transition: margin-left 225ms cubic-bezier(0.42, 0, 0.58, 1);
}

.mat-drawer-container.mat-drawer-opened .drawer {
	width: 220px;
}

.mat-drawer-container.mat-drawer-closed .drawer {
	width: 0;
}

.content {
	background-color: whitesmoke;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-grow: 1;
	transition: margin-left 225ms cubic-bezier(0.42, 0, 0.58, 1);
}

.mat-drawer-content {
	transition: width 100ms linear;
}

.mat-drawer-content.full {
	width: 100%;
}

.mat-drawer-content.shrink {
	width: calc(100% - 220px);
}

.nav-link {
	width: fit-content;
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1em;
}
