<div class="container">
	<mat-drawer-container
		class="sidenav"
		autosize>
		<!-- <button
		type="button"
		mat-flat-button
		color="primary"
		(click)="drawer.toggle()"></button> -->
		<mat-drawer
			class="drawer"
			#drawer
			opened="true"
			mode="side">
			<div class="nav-links column">
				<a
					routerLink="/admin/games"
					class="nav-link"
					>Current Game</a
				>
				<a
					routerLink="/admin/game-setup"
					class="nav-link"
					>Game Setup</a
				>

				<a
					routerLink="/admin/account"
					class="nav-link"
					>Account Settings</a
				>
				<a
					routerLink="/admin/hand-records"
					class="nav-link"
					>Hand Records</a
				>

				<!-- <a routerLink="/admin/" class="nav-link"></a> -->
				<!-- <a class="nav-link"></a> -->
			</div>
			<ng-container *ngIf="currentBreakpoint === 'handset'">
				<div class="container column user-details">
					<h3>Game Code</h3>
					<span class="gamecode">{{ gameCode }}</span>
				</div>
			</ng-container>

			<!-- <div class="button-wrapper column">
				<h4>Development</h4>
				<mat-radio-group
					[formControl]="matchTypeControl"
					#matchTypeGroup>
					<mat-radio-button value="pairs">Pairs</mat-radio-button>
					<mat-radio-button value="teams">Teams</mat-radio-button>
					<mat-radio-button value="sides">Sides</mat-radio-button>
				</mat-radio-group>
				<br /><br />
				<div
					class="container column"
					style="align-items: center; justify-content: center">
					<p>Match Type</p>
					<p>{{ (selectedMatchType$ | async) || matchTypeControl.value }}</p>
				</div>
			</div> -->
		</mat-drawer>
		<mat-drawer-content
			class="content"
			[ngClass]="contentClass">
			<!-- main application content -->
			<router-outlet></router-outlet>
		</mat-drawer-content>
	</mat-drawer-container>
</div>
