<div class="container">
	<mat-drawer-container
		class="sidenav"
		autosize>
		<!-- <button
		type="button"
		mat-flat-button
		color="primary"
		(click)="drawer.toggle()"></button> -->
		<mat-drawer
			class="drawer"
			#drawer
			opened="false"
			mode="over">
			<div class="nav-links column">
				<a
					routerLink="/admin/game-setup"
					[routerLinkActive]="['active-link']"
					class="nav-link"
					>Game Code Settings</a
				>
				<a
					routerLink="/admin/games"
					[routerLinkActive]="['active-link']"
					class="nav-link"
					>Game In Progresss</a
				>
				<a
					routerLink="/admin/account"
					[routerLinkActive]="['active-link']"
					class="nav-link"
					>Account Settings</a
				>
				<a
					routerLink="/admin/hand-records"
					[routerLinkActive]="['active-link']"
					class="nav-link"
					>Hand Records</a
				>
				<a
					routerLink="/admin/reporting"
					[routerLinkActive]="['active-link']"
					class="nav-link"
					>Reporting</a
				>
				<a
					routerLink="/admin/historic-games"
					[routerLinkActive]="['active-link']"
					class="nav-link"
					>Historic Games</a
				>
			</div>
			<ng-container *ngIf="currentBreakpoint === 'handset'">
				<div class="container column user-details">
					<h3>Game Code</h3>
					<span class="gamecode">{{ gameCode }}</span>
				</div>
			</ng-container>
		</mat-drawer>
		<mat-drawer-content
			class="content"
			[ngClass]="contentClass">
			<!-- main application content -->
			<ng-container
				><div class="container column center current-label">
					<h2 class="breadcrumb">
						{{ currentLabel }}
					</h2>
				</div></ng-container
			>
			<router-outlet></router-outlet>
		</mat-drawer-content>
	</mat-drawer-container>
</div>
