:host {
	display: block;
	margin: 0 auto 2rem auto;
	width: 100%;
	max-width: 1440px;
}

.main-wrapper {
	display: block;
}

.main {
	gap: 0.8rem;
	margin: 0 auto;
	justify-content: center;
	width: 100%;
	max-width: 1440px;
	padding: 0 2rem;
}

h2 {
	text-align: center;
}

.checkbox-col {
	max-width: 4rem;
}

.header-wrapper {
	width: 100%;
	max-height: 4rem;
	align-items: center;
	justify-content: center;
}

h3 {
	text-align: center;
	width: 100%;
	font-size: 1rem;
}

h3:not(.file-name) {
	margin-bottom: 2rem;
}

h3.join.header {
	word-wrap: normal;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 0;
	li {
		height: 36px;
		display: flex;
		flex-direction: row;
		margin-top: 0.2rem;
		align-items: center;
		justify-content: center;
	}
}

ul.map-to {
	li.map-to {
		text-align: center;
		width: 100%;
	}
}

ul.save-column {
	li {
		align-items: center;
		// justify-content: center;
	}
	button.mdc-button {
		margin: 0 auto;
		height: 1.8rem !important;
	}
}

ul.clear-list {
	li {
		align-items: center;
		button.mdc-button {
			margin: 0 auto;
			height: 1.8rem !important;
		}
	}
}

ul.display {
	width: 100%;
	li.display {
		position: relative;
		display: flex;
		width: 100%;
		flex-direction: row;
		align-items: center;
		.left {
			position: relative;
			left: 0;
			justify-self: flex-start;
		}
		.right {
			position: relative;
			right: 0;
			justify-self: flex-end;
		}
	}
}

.import-all {
	margin: 0 auto 2rem auto;
}
