.container {
	width: 80%;
	height: 60%;
	margin: auto;
	gap: 2em;
	align-items: center;
	padding: 2%;

	// height:
}

button {
	width: 8em;
	max-width: 100px;
}

#register.mdc-button,
#login.mdc-button {
	height: 4rem;
}

.spectate {
	justify-content: center;
	gap: 2rem;
}

#spectate.mdc-button {
	height: 3.2rem;
	position: relative;
	bottom: 9px
}
.handset {
	flex-direction: column;
	
}