
.container {
	width: 80%;
	height: 60%;
	margin: auto;
	gap: 2em;
	align-items: center;
	padding: 2%;

	// height:
}

button {
	width: 8em;
	max-width: 100px;
}

#register.mdc-button,
#login.mdc-button {
	height: 4rem;
}
