<div class="container column">
	<button
		id="login"
		mat-flat-button
		color="primary"
		class="login home-button"
		(click)="openDialog('login')"
		*ngIf="!isLoggedIn()">
		Log In
	</button>
	<button
		id="register"
		mat-flat-button
		color="primary"
		class="register home-button"
		(click)="openDialog('register')"
		*ngIf="!isLoggedIn()">
		Register
	</button>
	<!-- <h2>Spectate</h2>
	<div
		class="container row spectate"
		[ngClass]="currentBreakpoint">
		<mat-form-field>
			<mat-label> Enter Game Code </mat-label>
			<input matInput />
		</mat-form-field>
		<button
			id="spectate"
			mat-flat-button
			color="primary"
			class="home-button">
			Spectate
		</button>
	</div> -->
</div>
