:host {
}
table.main-table {
	table-layout: auto;
}
.table-wrapper {
	width: fit-content;
	margin: auto;
}

tr.header-row {
	margin-bottom: 0.6rem;
}
th {
	padding-bottom: 1rem;
}

td {
	padding: 0.2rem;
	text-align: center;
}

tr.header-row{
	th {
		word-wrap: normal;
		
	}
}

tr.tables-row,
tr.header-row {
	td.divider,
	th.divider {
		width: 2rem;
		text-align: center;
	}
	td.small,
	th.small {
		width: 4rem;
	}
	td.split {
		padding: 0.4rem;
	}
	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-left: 0;
	}

	td.strat,
	td.abbreviations,
	td.adjust {
		width: 80%;
	}
	input {
		padding: 0.2rem;
		text-align: center;
	}
}

input.table-input {
	width: 100%;
}

@media screen and (max-width: 600px) {
	.flex {
		display: flex;
		flex-direction: column;
	}
}
