/* Single colours to import throughout */

$ibe-teal-single: #005e79;
$ibe-green-single: #99d555;
$ibe-warn-single: #ff8c42;
$ibe-alert-single: #d0342c;
$ibe-pumpkin-single: #ffb14d;
$ibe-magenta-single: #f428ed;

$player-sign-in: #ff44cc;
$security: #99cc33;
$movement-scoring: #e97451;
$app-interface: #005e79;
$naming-numbering: #714e8c
