// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// custom theme
@import './palette.scss';
@import './component.palette.scss';
@import './variables_material.scss';

$ibe-primary: mat.define-palette($ibe-green-palette, 400, 300, 800);
$ibe-accent: mat.define-palette($ibe-dark-violet, 600, 300, 600);
$ibe-teal: mat.define-palette($ibe-teal-palette, 900, 900, 900);
$ibe-indigo: mat.define-palette($ibe-indigo-dye-palette, 900, 700, 900);
$ibe-tertiary: mat.define-palette($ibe-magenta-palette, 400, 300, 700);
$ibe-warn: mat.define-palette($ibe-pumpkin-palette, 900, 800, 900);
$ibe-alert: mat.define-palette($ibe-red-alert-palette, 900, 700, 900);
$ibe-whitesmoke: mat.define-palette($ibe-whitesmoke-palette, 100, 100, 100);

$player-sign-in-color: #ff44cc;
$security-color: #99cc33;
$movement-scoring-color: #e97451;
$app-interface-color: #005e79;
$naming-numbering-color: #714e8c;

$player-sign-in-map: mat.define-palette($player-sign-in-palette, 300, 300, 300);
$security-map: mat.define-palette($security-palette, 500, 500, 500);
$movement-scoring-map: mat.define-palette($movement-palette, 400, 400, 400);
$app-interface-map: mat.define-palette($interface-palette, 700, 700, 700);
$naming-numbering-map: mat.define-palette($naming-palette, 400, 400, 400);

$ibescore-theme: mat.define-light-theme(
	(
		color: (
			primary: $ibe-primary,
			accent: $ibe-teal,
			custom_accent: $ibe-teal,
			indigo_dye: $ibe-indigo,
			tertiary: $ibe-tertiary,
			warn: $ibe-warn,
			alert: $ibe-alert,
			white_color: $ibe-whitesmoke
		)
	)
);

@mixin apply-custom-theme {
	@include mat.core-theme($ibescore-theme);
}
/*
$new-theme: mat.define-light-theme(
	(
		color: (
			primary: $ibe-primary,
			accent: $ibe-accent,
			indigo_dye: $ibe-indigo,
			tertiary: $ibe-tertiary,
			warn: $ibe-warn,
			alert: $ibe-alert
		)
	)
);
*/
$magenta-grey-theme: mat.define-light-theme(
	(
		color: (
			primary: $magenta-primary,
			accent: $grey-accent,
			warn: $ibe-primary,
			alert: $ibe-warn
		)
	)
);

$sign-in-theme: mat.define-light-theme(
	(
		color: (
			primary: $player-sign-in-map,
			accent: $ibe-teal
		)
	)
);

$security-theme: mat.define-light-theme(
	(
		color: (
			primary: $security-map,
			accent: $ibe-teal
		)
	)
);

$movement-theme: mat.define-light-theme(
	(
		color: (
			primary: $movement-scoring-map,
			accent: $ibe-teal
		)
	)
);

$interface-theme: mat.define-light-theme(
	(
		color: (
			primary: $app-interface-map,
			accent: $ibe-whitesmoke
		)
	)
);

$naming-theme: mat.define-light-theme(
	(
		color: (
			primary: $naming-numbering-map,
			accent: $ibe-teal
		)
	)
);

@include mat.all-component-themes($ibescore-theme);

.grey-magenta-theme {
	@include mat.all-component-colors($magenta-grey-theme);
}

.sign-in-tab {
	@include mat.all-component-colors($sign-in-theme);
}

.security-tab {
	@include mat.all-component-colors($security-theme);
}

.movement-tab {
	@include mat.all-component-colors($movement-theme);
}

.interface-tab {
	@include mat.all-component-colors($interface-theme);
}

.naming-tab {
	@include mat.all-component-colors($naming-theme);
}

/* You can add global styles to this file, and also import other style files */
* {
	--webkit-font-smoothing: subpixel-antialiased;
	font-smooth: always;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body.mat-dialog-open {
	overflow: auto;
}

.mat-mdc-unelevated-button.button-white:not(:disabled) {
	background-color: whitesmoke !important;
	color: #005e75 !important;
	font-weight: 500;
}
.mat-drawer-content.content {
	overflow-y: auto;
}

.mat-drawer-content.content.shrink {
	overflow-y: auto;
}

mat-tab-body {
	overflow-y: hidden !important;
}
.mat-mdc-tab-body-content {
	overflow-y: hidden !important;
}

.container {
	display: flex;
}

.container.column {
	flex-direction: column;
}

.container.row {
	flex-direction: row;
}

.container.center {
	align-items: center;
}
.gap-1 {
	gap: 1rem;
}
button.home-button .mdc-button__label {
	font-size: 1rem;
}

app-root {
	display: block;
}
app-root::-webkit-scrollbar {
	display: none;
}

.drawer .mat-drawer-inner-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 2em;
}

.mdc-floating-label {
	will-change: unset !important;
}

mat-mdc-form-field-flex {
	height: 50px;
}

.mat-mdc-form-field-infix {
	min-height: 40px !important;
	backface-visibility: hidden;
}

mat-label {
	font-size: 14px;
}

.seating.table .ng-star-inserted .clr-form-control {
	width: fit-content;
}

button#start_pdf,
button.main-save {
	height: 50px !important;
}
.mat-sort-header-container {
	justify-content: center;
	gap: 0.2rem;
}

.delete mat-icon {
	display: grid;
	place-content: center;
	margin: auto;
	svg {
		height: 1.2rem !important;
	}
}
md-progress-linear {
	height: $progress-linear-bar-height !important;

	.md-container {
		height: $progress-linear-bar-height !important;

		.md-bar {
			height: $progress-linear-bar-height !important;
		}

		.md-dashed:before {
			height: $progress-linear-bar-height !important;
		}
	}
}
.mat-mdc-progress-bar {
	--mdc-linear-progress-active-indicator-height: 30px !important;
	--mdc-linear-progress-track-height: 30px !important;
	--mdc-linear-progress-track-shape: 0;
}
mat-progress-bar {
	width: 80% !important;
}
mat-spinner.finalise {
	width: 40px !important;
	height: 40px !important;
}

// Game SetUp Styling

// mat-tab-header.sign-in
// 	.mat-mdc-tab
// 	span.mdc-tab-indicator
// 	span.mdc-tab-indicator.mdc-tab-indicator__content--underline {
// 	border-color: $player-sign-in !important;
// }
// mat-tab-header.sign-in .mat-mdc-tab .mdc-tab-indicator__content--underline {
// 	border-color: $player-sign-in !important;
// }
// Mobile Global Styles

// .row.handset

@media only screen and (max-width: 500px) {
	mat-tab-header .mat-mdc-tab-labels .mdc-tab {
		font-size: 0.8rem !important;
		padding: 0 16px;
		min-width: fit-content;
	}
	mat-form-field .mat-mdc-text-field-wrapper {
		padding: 0;
		min-width: fit-content;
	}
}
