.main {
	width: 100%;
	/*
	padding: 2rem;
	*/
	gap: 2rem;
}
.head,
.search {
	width: 100%;
	gap: 1rem;
}

.main {
	gap: 0;
	margin: 1rem 0 2rem 0;
}

.table-wrapper {
	overflow-y: auto;
	height: auto;
}

.options {
	margin-top: 2rem;
}

@media only screen and (max-width: 500px) {
	:is(mat-form-field).search-row {
		height: 66px;
	}
	.mdc-button.add-row,
	.mdc-button.clear-filter {
		height: 46px !important;
		width: 4.2rem !important;
		padding: 0;
	}
	.mat-mdc-paginator-page-size-select {
		width: auto !important;
	}

	:is(mat-paginator) {
		.mat-mdc-paginator-container {
			padding: 0 8px 8px 0;
			:is(mat-form-field) .mat-mdc-text-field-wrapper.mdc-text-field--no-label {
				padding: 0 1rem;
				min-width: auto !important;
			}
		}
	}
}
mat-spinner {
	margin: auto;
	margin-top: 1rem;
}

.table-wrapper {
	max-height: 100%;
	margin-top: -1px;
}

table {
	width: fit-content;
}
.mat-sort-header-container {
	align-items: center;
}
table,
th,
td {
	text-align: center;
}
table {
	margin: auto;
	border-collapse: collapse;
}

th {
	padding-bottom: 1rem;
}

th,
td {
	text-align: center;
	padding: 0.2rem 0.4rem;
}

.mat-mdc-row .mat-mdc-cell {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
}
.mat-mdc-row:hover .mat-mdc-cell {
	border-color: currentColor;
}
.mat-sort-header-container {
	justify-content: center;
	gap: 0.8rem;
}
/*
tr.no-data-row {
	display: flex;
	border-width: 0;
	border-style: solid;
	align-items: center;
	box-sizing: border-box;
	td {
		flex: 1;
		display: flex;
		align-items: center;
		overflow: hidden;
		word-wrap: break-word;
		min-height: inherit;
		height: 100%;
	}
}
*/

.delete:hover {
	cursor: pointer;
}

.date {
	width: 10rem;
}
.id {
	width: 8rem;
}
.name {
	width: 16rem;
}
.delete {
	width: 6rem;
}

.delete svg {
	cursor: pointer;
	height: 1rem !important;
}
.mdc-button.clear-filter,
.mdc-button.add-row,
.mdc-button.save {
	height: 3.2rem;
	width: 6rem;
}
