<h2>Account Settings</h2>
<div class="container row user-settings">
	<div class="container column">
		<h3>Change Email</h3>

		<form [formGroup]="emailForm">
			<div class="container column form-column">
				<mat-form-field>
					<mat-label>Email</mat-label>
					<input
						matInput
						formControlName="email" />
					<mat-hint align="end"></mat-hint>
					<mat-error *ngIf="emailForm.get('email').invalid"
						>Email is invalid</mat-error
					>
				</mat-form-field>
				<button
					mat-flat-button
					color="primary"
					[disabled]="emailForm.pristine && emailClicked"
					(click)="getEmail()">
					{{ successMessage && emailClicked ? 'Success' : 'Update Email' }}
				</button>
			</div>
		</form>
	</div>
	<div class="container column form-column">
		<h3>Change Director Key</h3>
		<form [formGroup]="directorKeyForm">
			<div class="container column">
				<mat-form-field hintLabel="Min 4 characters">
					<mat-label>Director Key</mat-label>
					<input
						#directorKey
						matInput
						formControlName="newKey" />
					<mat-hint align="end">{{ directorKey.value.length }}/4</mat-hint>
					<mat-error *ngIf="directorKeyForm.get('newKey').invalid"></mat-error>
				</mat-form-field>
				<mat-form-field hintLabel="Enter the same director key as above">
					<mat-label>Confirm director key</mat-label>
					<input
						#confirmKey
						matInput
						formControlName="confirmKey" />
					<mat-hint align="end"></mat-hint>
					<mat-error *ngIf="directorKeyForm.get('confirmKey').invalid"></mat-error>
				</mat-form-field>
				<button
					mat-flat-button
					color="primary"
					[disabled]="directorKeyForm.pristine && updateDirectorKeyClicked"
					(click)="getNewDirectorKey()">
					{{
						successMessage && updateDirectorKeyClicked ? 'Success' : 'Update Key'
					}}
				</button>
			</div>
		</form>
	</div>
</div>
